.header-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.title {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #7167B9;
}

.button {
  background-color: #7167B9;
  border: none;
  color: white !important;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  border-radius: 25px;
}

.dropdown-image {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.btn {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu>li>a {
  color: #7167B9 !important;
}
