.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.title {
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  background-color: #7167B9;
  border: none;
  color: white !important;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  border-radius: 25px;
}

.dropdown-image {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.btn {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin-left: 750px;
  margin-top: 20px;
}

.dropdown-menu>li>a {
  color: #7167B9 !important;
}

.username {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-right: 30px;
  margin-top: 20px;
}
