<!DOCTYPE html>
<html lang="en">
<head>
<title>CSM Connect</title>
<meta charset="utf-8">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'scheduler/styles/layout.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
<header>

  <div class="title-container">
    <img src="{% static 'scheduler/images/logo.png' %}"></img>
    <div class="title"> CSM Connect </div>
  </div>

  <nav id="s1">
    <ul class="container">
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
    </ul>
  </nav>
</header>
<section>
  <article>
    <h1>Our Mission</h1>
    <p>We provide mental health support for computer science students by opening up video chat sessions with CSM Mentors in a user friendly platform. Our product helps students manage stress through engaging with like-minded peers who have insightful advice.
</p>


  </article>
  <aside style="justify-content: flex-end">
    <h1>How it works: </h1>
  </aside>
</section>

<footer>
  <p>Created in 2020</p>
</footer>

</body>
</html>
