<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'frontend/styles/dashboardlayout.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'frontend/header.html' %}
  <hr class="solid">
  {% if dashboard == 'true' %}
    <div class="calendar-header">
      <p class="my-meetings"> My Meetings </p>
      <a class="button" href="addmeeting"> Add Meeting </a>
    </div>
  {% else %}
    <div class="calendar-header">
      <p class="my-meetings"> Open Meetings </p>
    </div>
  {% endif %}
  <div id="calendar">
    <!-- React will load here -->
  </div>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}" meetings= "{{meetings}}" is_mentor="{{is_mentor}}" dashboard="{{dashboard}}"></script>
</html>
