<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/styles/header.css' %}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header-container">
    <div class="title-container">
      <img class="logo" src="{% static 'scheduler/images/logo.png' %}"></img>
      <h1 class="title"> CSM Connect </h1>
    </div>
    <div class="page-name"> {{ page_name }} </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {% if image_url %}
          <img class="dropdown-image" src="{{image_url}}"></img>
        {% else %}
          <img class="dropdown-image" src="{% static '/scheduler/images/default-profile.png' %}"></img>
        {% endif %}
      </button>
      <ul class="dropdown-menu pull-left">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/profile/{{user_id}}">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <div class="username"> {{ name }} </div>
    </div>
  </div>
</body>
</html>
