body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.title-container, .links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.separator {
  border-left: 6px solid #CBCBCB;
  height: 500px;
}

.slogan {
  color: #CBCBCB;
}
