body {
  font-family: 'Roboto', sans-serif;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(195, 187, 255, 0.5);
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

.sidebar-container {
  margin-left: 70px;
  font-size: 20px;
}

ul {
  list-style: none;
}

ul li:first-child {
  font-weight: bolder;
  list-style: none;
}

ul li:before {
  content: "\2192"
}

.footer-container {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 100px;
}
