body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  color: black;
}

.links {
  text-decoration: none;
}

.separator {
  border-left: 6px solid #CBCBCB;
  height: 500px;
}

.slogan {
  color: #CBCBCB;
}
