{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #9370DB;
  padding: 10px;
  text-align: left;
  font-size: 35px;
  color: white;
  align-content: flex-start;
  /* height: 80px; */
}

h1 {
  /* padding: 10px; */
}

/* #s1 {
  background-color: black;
  height: 50px;
} */

.container {
  display: flex;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  height: 450px;
}

aside {
  justify-content: flex-end;
  /* margin: 0 1.5%; */
  padding: 20px;
  width: 30%;
  background-color: #4B0082;
  color: white;
  font-size: 20px;
}


/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: black;
  /* padding: 20px; */
  /* height: 100px; */
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  color: white;
  background-color: black;

}

li a{
  color: white;
}


/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #87CEFA;
  padding: 20px;
  font-size: 20px;
}

/* Style the footer */
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
