body {
  font-family: "Roboto", sans-serif;
}

.login-container {
  background-color: rgba(195, 187, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.login-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-details {
  color: rgba(0, 0, 0, 0.34);
  font-size: 12px;
  margin-bottom: 10px;
}

/* .form-item {
  background: #E5E5E5;
  border-radius: 25px;
} */

.submit-button {
  background-color: #685FAD;
  color: white;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  margin-bottom: 10px;
}

.forgot-password {
  color: rgba(0, 0, 0, 0.34);
  font-size: 12px;
  text-decoration: none;
}
