body {
  font-family: "Roboto", sans-serif;
}

.login-outer-container {
  background-color: rgba(195, 187, 255, 0.5);
}

.login-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-details {
  color: rgba(0, 0, 0, 0.34);
  font-size: 12px;
  margin-bottom: 10px;
}

input {
  border-radius: 25px;
  background-color: #E5E5E5 !important;
  border: none;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 16px;
}

.submit-button {
  background-color: #685FAD !important;
  color: white;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  margin-bottom: 10px;
  width: 150px;
}

.forgot-password {
  color: rgba(0, 0, 0, 0.34);
  font-size: 12px;
  text-decoration: none;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 110px;
}
