.profile-title-outer {
  background-color: rgba(195, 187, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.profile-title-inner {
  margin-left: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 20px;
}

.email {
  color: #89879C;
  margin-bottom: 20px;
}

.description {
  color: #89879C;
  margin-bottom: 20px;
}

.profile-sidebar-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 800px;
  margin-top: -100px;
}

.button.edit {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: white !important;
  color: black !important;
  margin-bottom: 20px !important;
}

.button.change-password {
  font-family: 'Roboto', sans-serif;
  width: 300px;
}

.bio-experience-container, .bio-experience-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 700px;
  margin-top: -300px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.bio-experience-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.bio-experience-contents.biography {
  margin-bottom: 40px;
}
