body {
  color:  #7167B9 !important;
  font-family: 'Roboto', sans-serif !important;
}

.update-user {
   font-size: 24px;
   margin-left: 20px;
}

input, textarea {
  border-color: #7167B9 !important;
  border-width: 3px;
  margin-bottom: 30px !important;
}

.edit-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.submit {
  background-color: #7167B9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.errorlist {
  list-style: none
}

li {
  margin-right: 10px;
}
