<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/styles/addmeetinglayout.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function () {
    $("#id_date").datepicker({
      dateFormat: 'D, M d, yy'
    });
  });
</script>
</head>
<body>
  {% include 'frontend/header.html' %}
  <hr class="solid">
  <div class="add-meeting"> {{ title }} </div>
  {% if is_add %}
    <form action="/addmeeting" method="post">
        {% csrf_token %}
        <div class="date-time">
          <div class="form-item">
            <label for="{{ form.date.id_for_label }}"> Meeting date: {{ form.date }} </label>
            {{ form.date.errors }}
          </div>
          <div class="form-item">
            <label for="{{ form.start_time.id_for_label }}"> Start time: {{ form.start_time }} </label>
            {{ form.start_time.errors }}
          </div>
          <div class="form-item">
            <label for="{{ form.end_time.id_for_label }}"> End time: {{ form.end_time }} </label>
            {{ form.end_time.errors }}
          </div>
          {{ non_field_errors }}
        </div>
        <br></br>
        <div class="location-description">
          <label for="{{ form.location.id_for_label }}"> Location: </label>
          {{ form.location }}
          {{ form.location.errors }}
          <br></br>
          <label for="{{ form.description.id_for_label }}"> Description: </label>
          {{ form.description }}
          {{ form.description.errors }}
        </div>
        <br></br>
        <input class="submit" type="submit" value="Submit">
    </form>
  {% else %}
    <form action="/editmeeting/{{ meeting_id }}" method="post">
        {% csrf_token %}
        <div class="date-time">
          <div class="form-item">
            <label for="{{ form.date.id_for_label }}"> Meeting date: {{ form.date }} </label>
            {{ form.date.errors }}
          </div>
          <div class="form-item">
            <label for="{{ form.start_time.id_for_label }}"> Start time: {{ form.start_time }} </label>
            {{ form.start_time.errors }}
          </div>
          <div class="form-item">
            <label for="{{ form.end_time.id_for_label }}"> End time: {{ form.end_time }} </label>
            {{ form.end_time.errors }}
          </div>
          {{ non_field_errors }}
        </div>
        <br></br>
        <div class="location-description">
          <label for="{{ form.location.id_for_label }}"> Location: </label>
          {{ form.location }}
          {{ form.location.errors }}
          <br></br>
          <label for="{{ form.description.id_for_label }}"> Description: </label>
          {{ form.description }}
          {{ form.description.errors }}
        </div>
        <br></br>
        <input class="submit" type="submit" value="Submit">
    </form>
  {% endif %}
</body>
</html>
