<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'scheduler/styles/siteuserupdatelayout.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
  {% include 'frontend/header.html' %}
  <hr class="solid">
  <div class="update-user"> {{ title }} </div>
  <form action="/editprofile/{{ user_id }}" method="post">
      {% csrf_token %}
      <div class="edit-container">
        <div class="form-item">
          <label for="{{ form.username.id_for_label }}"> Username: {{ form.user.username }} </label>
          {{ form.username.errors }}
        </div>
        <div class="form-item">
          <label for="{{ form.email.id_for_label }}"> Email: {{ form.user.email }} </label>
          {{ form.email.errors }}
        </div>
        <div class="form-item">
          <label for="{{ form.password.id_for_label }}"> Password: {{ form.user.password }} </label>
          {{ form.password.errors }}
        </div>
        <div class="form-item">
          <label for="{{ form.short_description.id_for_label }}"> Short Description: {{ form.short_description }} </label>
          {{ form.short_description.errors }}
        </div>
        <div class="form-item">
          <label for="{{ form.bio.id_for_label }}"> Bio: {{ form.bio }} </label>
          {{ form.bio.errors }}
        </div>
        <div class="form-item">
          <label for="{{ form.experience.id_for_label }}"> Experience: {{ form.experience }} </label>
          {{ form.experience.errors }}
        </div>
        <div class="form-item">
          <label for="{{ form.image.id_for_label }}"> Image: {{ form.image }} </label>
          {{ form.image.errors }}
        </div>
        <input class="submit" type="submit" value="Submit">
      </div>
  </form>
</body>
</html>
