<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'scheduler/styles/about.css' %}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
  {% include 'homepage_header.html' %}
  <div class="about-outer-container">
    <div class="about-inner-container">
        <div class="content-container mission">
          <div class="content-title mission"> Our Mission </div>
          <div class="content-paragraph mission">
              We strive to create an inclusive community and support system for computer science students undergoing stress and pressure from their high intensity courses. By pairing them up with experienced mentors, we can help them receive the one on one attention that can make them feel more calm. Currently, there is a lack of mental health support in the tech space, and we are here to change that!
          </div>
        </div>
        <div class="content-container team">
          <div class="content-title team"> Our Team </div>
          <div class="team-image"> </div>
          <div class="content-paragraph team">
            We are a group of college students from UC Berkeley who have created this platform starting in May 2020. From our experiences, we noticed the lack of support from our university for stressed computer science students. We hope you enjoy using our platform. We would love your feedback!
          </div>
        </div>
    </div>
    <div class="copyright">
      Copyright 2020 CSM Connect
    </div>
  </div>
</body>
</html>
