<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'scheduler/styles/homepage_header.css' %}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
  <div class="header-container">
    <div class="title-container">
      <img class="logo" src="{% static 'scheduler/images/logo.png' %}"></img>
      <h1 class="title"> CSM Connect </h1>
    </div>
    <div class="links-container">
      <a href="/about"> About </a>
      <a href="/signup"> Sign Up </a>
      <a href="/login"> Login </a>
      <div class="separator"></div>
      <div class="slogan">
        Supporting mental health
        in the tech space
      </div>
    </div>
  </div>
</body>
</html>
