<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/styles/login.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
  {% include 'homepage_header.html' %}
  <div class="login-outer-container">
    <div class="login-inner-container">
      <div class="login-box">
        <div class="login-form">
          <div class="login-title">Log In</div>
          <div class="login-details">Enter your details below to continue.</div>
          <form action="login" method="post">
            {% csrf_token %}
            <div class="form-item">
              <label for="{{ form.your_name.id_for_label }}"> {{ form.your_name }} </label>
               {{ form.your_name.errors }}
            </div>
            <br></br>
            <div class="form-item">
              <label for="{{ form.password.id_for_label }}"> {{ form.password }} </label>
              {{ form.password.errors }}
              <br></br>
              {{ error }}
            </div>
            <input class="submit-button" type="submit" value="Log In">
          </form>
          <a class="forgot-password" href="/resetpassword"> Forgot Password? </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      Copyright 2020 CSM Connect
    </div>
  </div>
</body>
</html>
