<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'scheduler/styles/meetingdetails.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'frontend/header.html' %}
  <hr class="solid">
  <div class="meeting-details">
    <div class="page-title"> Meeting Details </div>
    <br></br>
    <div class="meeting-item"> Meeting date: {{ meeting_date }} </div>
    <div class="meeting-item"> Time: {{ start_time }}-{{ end_time }}</div>
    <div class="meeting-item"> Location: {{ meeting_location }} </div>
    <div class="meeting-item"> Description: {{ description }} </div>
    {% if is_mentor %}
      {% if student %}
        <div class="student-mentor-info">
          <div class="meeting-item"> Student: <a class="meeting-item" href="/publicprofile/{{ student.id }}"> {{ student.username }} </a> </div>
          <a class="detail-button email-button" href="mailto:{{student.email}}"> EMAIL </a>
        </div>
      {% else %}
        <div class="meeting-item"> No student assigned. </div>
      {% endif %}
    {% else %}
    <div class="student-mentor-info">
      <div class="meeting-item"> Mentor: <a class="meeting-item" href="/publicprofile/{{ mentor.id }}"> {{ mentor.username }} </a> </div>
      <a class="detail-button email-button" href="mailto:{{mentor.email}}"> EMAIL </a>
    </div>
    {% endif %}
    <br></br>
    {% if is_mentor %}
      <div class="edit-delete">
        <a class="detail-button edit-button" href="/editmeeting/{{ id }}"> Edit </a>
        <a class="detail-button delete-button" href="/deletemeeting/{{ id }}"> Delete </a>
      </div>
    {% else %}
      <div class="edit-delete">
        <a class="detail-button leave-button" href="/leavemeeting/{{ id }}"> Leave </a>
      </div>
    {% endif %}
  </div>
</body>
</html>
