<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'scheduler/styles/passwordchangelayout.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
  {% include 'frontend/header.html' %}
  <hr class="solid">
  <div class="change-password"> Change Password </div>
    <br></br>
    <form action="/changepassword/{{ user_id }}" method="post">
        {% csrf_token %}
        <div class="change-password-container">
          <div class="form-item">
            <label for="{{ form.old_password.id_for_label }}"> Old password: {{ form.old_password }} </label>
            {{ form.old_password.errors }}
          </div>
          <br></br>
          <div class="form-item">
            <label for="{{ form.new_password.id_for_label }}"> New password: {{ form.new_password }} </label>
            {{ form.new_password.errors }}
          </div>
          <br></br>
          <div class="form-item">
            <label for="{{ form.new_password_confirm.id_for_label }}"> New password confirmation: {{ form.new_password_confirm }} </label>
            {{ form.new_password_confirm.errors }}
          </div>
          <br></br>
          <input class="submit" type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
