<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/styles/profile.css' %}">
<link type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'frontend/header.html' %}
  <div class="profile-outer-container">
    <div class="profile-title-outer">
      <div class="profile-title-inner">
        <div class="name"> {{ first_and_last }} </div>
        <div class="email"> Email: {{ email }} </div>
        <div class="description"> Description: {{ short_description }} </div>
      </div>
    </div>
  </div>
</body>
</html>
