<html lang="en">
<head>
{% load static %}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/styles/reset_password.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
  {% include 'homepage_header.html' %}
  <div class="reset-outer-container">
    <div class="reset-inner-container">
      <div class="reset-box">
        <div class="reset-form">
          <div class="reset-title">Reset Password</div>
          <div class="reset-details">Enter your details below to continue.</div>
          <form action="login" method="post">
            {% csrf_token %}
            <div class="form-item">
              <label for="{{ form.email.id_for_label }}"> {{ form.email }} </label>
              {{ form.email.errors }}
            </div>
            <br></br>
            <input class="submit-button" type="submit" value="Send Instructions">
          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      Copyright 2020 CSM Connect
    </div>
  </div>
</body>
</html>
