<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<title>CSM Connect</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'scheduler/styles/resetpasswordconfirm.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>
<body>
<header>

  <div class="title-container">
    <img src="{% static 'scheduler/images/logo.png' %}"></img>
    <div class="title"> CSM Connect </div>
  </div>

  <nav id="s1">
    <ul class="container">
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
    </ul>
  </nav>
</header>

<div class="box flex">
  <section id="s1">
  <form method="post">
    {% csrf_token %}
    <div class="reset-title">Enter New Password</div>
    <br></br>
    <div class="form-item">
      <label for="{{ form.new_password1.id_for_label }}"> New password: {{ form.new_password1 }} </label>
      {{ form.new_password1.errors }}
    </div>
    <br></br>
    <div class="form-item">
      <label for="{{ form.new_password2.id_for_label }}"> Confirm password: {{ form.new_password2 }} </label>
      {{ form.new_password2.errors }}
    </div>
    <br></br>
    <input class="submit-button" type="submit" value="Change My Password">
  </form>
  </section>
</div>

<footer>
  <p>Created in 2020</p>
</footer>

</body>
</html>
