<!DOCTYPE html>
<html lang="en">
<head>
<title>CSM Connect</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>

  <h2>
    <img src="csmConnectLogo.png"></img>
    CSM Connect
  </h2>
  <!-- <nav>
    <ul class="container">
      <li>Home</li>
      <li>Profile</li>
      <li class="search">
        <input type="text" class="search-input" placeholder="Search">
      </li>
      <li>Logout</li>
    </ul>
  </nav> -->

  <nav id="s1">
    <ul class="container">
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
  </nav>
<header>
<!-- <section>
  <article>
    <h1>Log In</h1>
  </article>
</section> -->

<div class="box flex">
  <section id="s1">
    <p>
      Sign Up <br><br> Username <br><br> Password
      <!-- <button type="button">Log In</button> -->
    </p>
    <button type="button">Sign Up</button>
  </section>
</div>

<footer>
  <p>Created in 2020</p>
</footer>

</body>
</html>
