<h1> Welcome, {{ name }} </h1>
<hr class="solid">
<div class="meeting-list">
  <h2> Open Meetings </h2>
  {% if meetings %}
    <ol>
      {% for meeting in meetings %}
      <li> Date: {{ meeting.0 }}
        <br></br>
        Time: {{ meeting.1 }}
        <br></br>
        Location: {{ meeting.2 }}
        <br></br>
        Description: {{ meeting.3 }}
        <br></br>
        Mentor: {{ meeting.5 }}
        <br></br>
        <a class="join-event" href="joinmeeting/{{ meeting.4 }}"> Join Meeting </a>
        <br></br>
      </li>
     {% endfor %}
    </ol>
  {% else %}
    <h2> No meetings to show. <h2>
  {% endif %}
</div>
<hr class="solid">
<a class="log-out" href="logout"> Logout </a>
